.profile-form-wrap {
    background: #feffaa;
    padding: 20px;
    border: 1px solid #feffaa;
  }
  
  .profile-form-wrap label {
    font-weight: bold;
  }
  
  .edit-profile-wrapper {
    margin-top: 60px;
  }